<nav class="navbar navbar-expand navbar-dark bg-dark" *ngIf="user">
    <div class="navbar-nav">
        <a class="nav-item nav-link" routerLink="/home"*ngIf="user" >Home</a>
        <a class="nav-item nav-link" routerLink="/users" routerLinkActive="active" *ngIf="isAdmin">Users</a>
        <a class="nav-item nav-link" (click)="logout()" style="padding-left: 600%;" *ngIf="isAdmin">Logout</a>
        <a class="nav-item nav-link" (click)="logout()" style="padding-left: 900%;" *ngIf="user">Logout</a>
    </div>
</nav>
<div class="jumbotron">
  <div class="container">
      <div class="row">
          <div class="col-sm-6 offset-sm-3">
              <router-outlet></router-outlet>
          </div>
      </div>
  </div>
</div>